.report_filter_data_field{
    width: 100%;
}

@media screen and (max-width:768px) {
    .report_filter_data_field{
        max-width: 50% !important;
    }
}

.table_container {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}